.address{
    .banner{
        height: 304px;
        background-image: url(../images/72/72.png);
        position: relative;
        margin-bottom: 16px;
        @include ipad(){
            margin-bottom: 40px;
        }
        @include iphone(){
            margin-bottom: 24px;
        }
        .title{
            position: absolute;
            bottom: 0;
            font-size: 64px;
            line-height: 80px;
            @include ipad(){
                font-size: 48px;
                line-height: 80px;
                bottom: -2px;
                color: white;
            }
            @include iphone(){
                font-size: 28px;
                line-height: 80px;
                bottom: -18px;
                color: white;
            }
        }
        .point{      
            margin-left: 270px;
            position: absolute;
            bottom: 10px;
            @include ipad(){
                width: 48px;
                height: 48px;
                margin-left: 200px;
                bottom: 14px;
            }
            @include iphone(){
                width: 24px;
                height: 24px;
                margin-left: 120px;
                bottom: 7px;
            }
        }
    }
    .choose{
        margin-bottom: 32px;
        .city{
            font-size: 24px;
            line-height: 30px;
        }
        .choose-btn{
            width: 266px;
        }
    }
    .main{
        margin-bottom: 126px;
        img{
            margin-right: 8px;
            
        }
        .title{
            margin-top: 16px;
            margin-left: 24px;
            font-size: 24px;
            line-height: 33px;
        }
        .ditail{
            padding-left: 36px;
            padding-right: 36px;
            margin-bottom: 12px;
            .ttime{
                font-size: 20px;
                line-height: 28px;
            }
            .adr{
                font-size: 20px;
                line-height: 30px;
            }
            .pin{
                margin-top: -28px;
                margin-left: 3px;
                @include iphone{
                    margin-top: 0px;
                }
            }
        }
    }

} 