.optical{
    padding-right: 15px;
    padding-left: 15px;
    .nav{
        height: 309px;
        @include ipad(){
            margin-top: -37px;
        }
        @include iphone(){
            height: 144px;
            margin-top: -53px;
        }
        .img-1{
            background-image: url(../images/22/2.png);
        }
        .img-2{
            background-image: url(../images/11/11.png);
        }
        img{
            padding-right: 0px;
            padding-left: 0px;
        }
        
    }
    .title{
        margin-top: 88px;
        margin-bottom: 48px;
        li:nth-child(1){
            font-size: 42px;
            line-height: 63px;
        }
        li:nth-child(2){
            font-size: 32px;
            line-height: 48px;
            font-weight: lighter;
        }      
        @include ipad(){
            margin-top: 40px;
            margin-bottom: 32px;
            li:nth-child(1){
                font-size: 32px;
                line-height: 48px;
            }
            li:nth-child(2){
                font-size: 24px;
                line-height: 36px;
                font-weight: lighter;
            } 
        }
        @include iphone(){
            margin-top: 24px;
            margin-bottom: 28px;
            li:nth-child(1){
                font-size: 24px;
                line-height: 28px;
            }
            li:nth-child(2){
                font-size: 20px;
                line-height: 30px;
                font-weight: lighter;
            } 
        }
    } 
    .product{
        margin-bottom: 104px;
        img{
            @include iphone(){
                height: 250px;
            }
            &:nth-child(2){
                display: none;
            }
        }
        @include ipad(){
            margin-bottom: 53px;
            img:nth-child(1){
                display: none;
            }
            img:nth-child(2){
                display: block;
            }
        }
        @include iphone(){
            margin-bottom: 52px;
            img:nth-child(1){
                display: none;
            }
            img:nth-child(2){
                display: block;
            }
        }
        .product-item{
            li:nth-child(1){
                font-size: 24px;
                line-height: 36px;
            }
            li:nth-child(2){
                font-size: 24px;
                line-height: 36px;
                color: #AA0601;
            }    
            @include iphone(){
                li:nth-child(1){
                    font-size: 16px;
                    line-height: 30px;
                }
                li:nth-child(2){
                    font-size: 16px;
                    line-height: 30px;
                    color: #AA0601;
                }  
            }  
        } 
        .color{
            li:nth-child(1){
                width: 24px;
                height: 24px;
                background-color: #5F3E2D;
                border-radius: 4px;
                margin-right: 8px;
            }
            li:nth-child(2){
                width: 24px;
                height: 24px;
                background-color: #B75929;
                border-radius: 4px;
            } 
            @include iphone(){
                li:nth-child(1){
                    width: 16px;
                    height: 16px;
                    background-color: #5F3E2D;
                    border-radius: 4px;
                    margin-right: 8px;
                }
                li:nth-child(2){
                    width: 16px;
                    height: 16px;
                    background-color: #B75929;
                    border-radius: 4px;
                }  
            }  
        }
    } 
    .page{
        margin-bottom: 156px;
        @include ipad(){
            margin-bottom: 104px;
        }
        @include iphone(){
            margin-bottom: 56px;
        }
    }  
     
}