//header

header{
    height: 108px;
    padding: 30px 88px;
    .logo{
        background-image: url(../images/logo/logo.png);
        height: 48.57px;
        width: 80px;
    }
}

.haeder-menu{
    li{
        font-size: 20px;
        line-height: 30px;
        color: white;
        padding-left: 64px;
        &:first-child{
            padding-left: 0px;
        }   
    }
    a{
        color: white;
        text-decoration:none;    
    } 
}

//footer

.footer{
    a{
        color: white;
        text-decoration:none;    
    } 
    padding: 48px 20px 27.43px 20px;
    .phone{
        margin-left: 23px;
    }
    .copyright{
        margin-left: 38px;
    }
    .private{
        margin-right: 62px;
    }
    .email{
        margin-left: 12px;
    }
}
