// 圓形
@mixin circle ($size,$bgcolor){
    border-radius: 50%;
    height: $size;
    width: $size;
    background: $bgcolor;
}

//pc與ipad之間
@mixin ipad {
    @media(max-width: 992px){
        @content
    }
}

@mixin iphone {
    @media(max-width: 767px){
        @content
    }
}
@mixin iphone414 {
    @media(max-width: 414px){
        @content
    }
}
@mixin  iphone375 {
    @media(max-width: 375px){
        @content
    }
}
@mixin  iphone320 {
    @media(max-width: 320px){
        @content
    }
}