.font-1{
    font-size: 48px;
    line-height: 72px;
}

.font-2{
    font-size: 16px;
    line-height: 24px;
}

.font-3{
    font-size: 36px;
    line-height: 54px;
}

.font-4{
    font-size: 16px;
    line-height: 21px;
}

.font-5{
    font-size: 24px;
    line-height: 36px;
}

.font-6{
    font-size: 20px;
    line-height: 23px;
}



//margin

@for $i from 0 through 20 {
    .mb-#{$i}{
        margin-bottom: 4px*$i;
    }

    .mr-#{$i}{
        margin-right: 4px*$i;
    }
}


